body {
  margin: 0;
  padding: 0;
  font-family: Inter;
  background-color: #272b30;
}

* {
  box-sizing: border-box;
  line-height: normal;
  font-family: inherit;
  margin: unset;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.slide-right-effect {
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.slide-right-effect::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-image: linear-gradient(to left, #26272c, #222222);
  transition: width 0.3s ease-out;
  z-index: -1;
}

.slide-right-effect:hover::before {
  width: 195px;
}

.custom-bottom-shadow {
  box-shadow: 0px 16px 37px 0px rgba(0, 0, 0, 0.5),
    0 2px 4px -2px rgba(0, 0, 0, 0.3);
}

.slide-diagonal-effect {
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.slide-diagonal-effect::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;
  background-image: linear-gradient(to top, #040c135b, #030f1d59);
  transition: width 0.3s ease-out, height 0.3s ease-out;
  z-index: -1;
}

.slide-diagonal-effect:hover::before {
  width: 100%;
  height: 100%;
}
